<%= form_for(@nnb) do |f| %>
  <% if @nnb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nnb.errors.count, "error") %> prohibited this nnb from being saved:</h2>

      <ul>
      <% @nnb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :appeared %><br>
    <%= f.text_field :appeared %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
