<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @nnb.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @nnb.content %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @nnb.contact %>
</p>

<p>
  <strong>Appeared:</strong>
  <%= @nnb.appeared %>
</p>

<p>
  <strong>Date:</strong>
  <%= @nnb.date %>
</p>

<%= link_to 'Edit', edit_nnb_path(@nnb) %> |
<%= link_to 'Back', nnb_path %>
